*{
    margin: 0;padding: 0;
}

body{
overflow: hidden;
}

.gameOver{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.scoreCount{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
}

.gameContainer{
background-image: url(images/background.jpeg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;
}

.jerry{
    background-image: url(images/jerry.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 233px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 100px;
}
.animateJerry{
    animation: jerry 0.6s linear;
}

@keyframes jerry{
    0%{
bottom: 0;
    }
    50%{
bottom: 300px;
    }
    100%{
bottom: 0;
    }
}


.tom{
    background-image: url(images/tom.png);
    background-size: 200px;
    width: 200px;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 50vw;
}
.animateTom{
    animation: animateTom 5s linear infinite;
}


@keyframes animateTom{
    0%{
left: 100vw
    }
    100%{
left: -10vw
    }
}
